.promo.absolute-bottom-link {
    position: relative;
    .field-promolink {
        position: absolute;
        bottom: 25px;
        right: 25px;
    }
    .field-promotext {
        padding-bottom: $extralarge-margin;
    }
}
