.facet-range-selector {
    @include basic-padding();
    @include basic-styles(
        $search-range-slider-bg !important,
        $search-range-slider-color,
        0
    );
    .sxa-slider-wrapper {
        position: relative;
    }
    .slider-min-value,
    .slider-max-value {
        position: absolute;
        bottom: 0;
        font-size: $font-size-x-small;
    }
    .slider-value {
        text-align: center;
        margin-top: $default-padding;
        font-size: $font-size-x-small;
    }
    .slider-min-value {
        left: 0;
        text-align: center;
    }
    .slider-max-value {
        right: 0;
        text-align: center;
    }
    .ui-slider-horizontal {
        width: 95%;
        margin: 5px 2%;
        background: $slider-bg;
        border-color: $slider-border;
        height: 8px;
        .ui-widget-header {
            background: $slider-bg;
            @include basic-border(all, $slider-border);
        }
        .ui-corner-all {
            border-radius: 10px;
        }
        .ui-state-default {
            background-color: $slider-btn-bg;
        }
        .ui-state-hover,
        .ui-state-focus {
            background: $slider-btn-bg-active;
        }
        .ui-slider-range {
            width: 95%;
            background: $slider-bg-active;
            @include basic-border(all, $slider-border-active);
        }
        .ui-slider-handle {
            border-color: $slider-btn-border;
            background: $slider-btn-bg;
            box-shadow: 0 0 5px 1px $palette-xxx-light;
            width: 20px;
            height: 20px;
            top: 50%;
            transform: translateY(-50%);
        }
    }
    .bottom-remove-filter {
        margin-top: $default-padding;
        width: 100%;
        button,
        input[type="button"] {
            width: 100%;
            color: $search-range-slider-clearbtn-color;
            font-size: $font-size-x-small;
            background-color: $search-range-slider-clearbtn-bg;
            border-color: $search-range-slider-clearbtn-border;
            &:hover {
                background-color: $search-range-slider-clearbtn-bg !important;
                cursor: pointer;
            }
        }
    }
}
