.image-full-size {
    img {
        width: 100% !important;
        height: auto !important;
    }
}
.image-full-size {
    img {
        width: 100% !important;
        height: auto !important;
    }
}
.image-full-size {
    img {
        width: 100% !important;
        height: auto !important;
    }
}
