@import "abstracts/mixins";
@import "abstracts/vars";
@import "base/fontawesome/font-awesome-mix-var";
.carousel {
    box-sizing: border-box;
    text-align: center;
    padding: 0;
    >.component-content {
        background: $carousel-bg;
        position: relative;
        .carousel-inner {
            .wrapper {
                overflow: hidden;
                .background {}
                .slides {
                    @include clearfix();
                    position: relative;
                    li.slide {
                        .component.content {
                            padding: 0;
                            .component-content {
                                .field-slideimage {
                                    text-align: center !important;
                                    img {
                                        height: auto;
                                    }
                                }
                                .slide-info {
                                    background-color: $carousel-info-bg;
                                    padding: $default-padding;
                                    .field-slidetext {}
                                }
                                .filed-slidelink {
                                    a {}
                                }
                            }
                        }
                    }
                }
                .nav {
                    background: $carousel-info-bg;
                    padding-bottom: 5px;
                    .prev-text {
                        position: absolute;
                        bottom: 0;
                        transform: translateY(-50%);
                        left: 10px;
                        &:hover,
                        &:active {
                            text-decoration: none;
                        }
                        &:after {
                            @include fa-icon();
                            content: $fa-var-chevron-left;
                            display: block;
                            font-size: 20px;
                        }
                    }
                    .nav-items {
                        display: inline-block;
                        position: relative;
                        height: 25px;
                        min-width: 20px;
                        margin: 0 15px;
                        vertical-align: middle;
                        cursor: pointer;
                        &:before {
                            left: -9px;
                            background-position: -154px -152px;
                        }
                        &:after {
                            right: -9px;
                            background-position: -225px -152px;
                        }
                        .sxa-bullets,
                        .sxa-numbers {
                            position: relative;
                            height: 25px;
                            float: left;
                            width: 20px;
							box-sizing: border-box;
                            line-height: 18px;
                        }
                        .sxa-numbers {
                            &:hover {
                                color: $carousel-nav-color-active;
                            }
                            &.active {
                                font-weight: bold;
                            }
                        }
                        .sxa-bullets {
                            margin: 5px;
                            border-radius: 10px;
                            width: 9px;
                            height: 9px;
                            background-color: $carousel-nav-color;
                            &.active {
                                width: 10px;
                                height: 10px;
                                background-color: $carousel-nav-color-active;
                            }
                        }
                    }
                    .next-text {
                        position: absolute;
                        bottom: 0;
                        transform: translateY(-50%);
                        right: 10px;
                        &:hover,
                        &:active {
                            text-decoration: none;
                            color: $carousel-nav-color-active;
                        }
                        &:after {
                            content: $fa-var-chevron-right;
                            @include fa-icon();
                            display: block;
                            font-size: 20px;
                        }
                    }
                }
            }
        }
    }
}

@media (max-width: 768px) {
    .carousel {
        padding: 0;
    }
}

@import "styles/carousel/*";