@import "abstracts/vars";
@import "abstracts/mixins";
.event-calendar {
    @import "base/richtext/*";
    overflow: hidden;
    box-sizing: border-box;
    @include basic-padding();
    >.component-content {
        @include basic-padding();
        @include basic-styles($calendar-bg, $calendar-color);
        @include basic-border(all, $calendar-border);
        position: relative;
        >h1,
        >h2,
        >h3,
        >h4,
        >h5,
        >h6 {
            padding: $default-padding;
            color: $calendar-header-color;
            font-weight: 600;
            font-size: $font-size-x-small;
            margin: 0;
            padding: 5px $default-padding 5px 0;
        }
    }
    .event-calendar-inner {
        position: relative;
    }
    .fc-day-grid-event {
        background-color: $calendar-event-bg;
        border-color: transparent;
        font-size: $font-size-x-small;
        padding: 5px 0;
        .fc-content {
            color: $calendar-event-color;
        }
        &:hover {
            color: $calendar-day-color-active;
        }
    }
    .fc-content-skeleton {
        td {
            padding: 0 !important;
        }
    }
    .fc-unthemed td.fc-today {
        background-color: $calendar-today-bg;
        border-left: 1px solid $calendar-border;
        border-top: 1px solid $calendar-border;
    }
    .fc-bg>table {
        height: 100% !important;
    }
    .fc-day-header {
        background: $calendar-header-bg;
        font-weight: normal;
        font-size: $font-size-x-small;
    }
    .fc-day-number {
        font-size: $font-size-x-small;
    }
    .fc-center {
        h2 {
            margin: 0;
            font-size: $font-size-x-small;
        }
    }
    th,
    td {
        border-width: 1px 0 0 1px !important;
    }
    table {
        border: 1px solid $calendar-border;
        &,
        tr,
        th,
        td {
            background: transparent;
            padding: 0;
        }
    }
    .fc-event-container {
        a {
            padding: 5px !important;
            margin: 5px !important;
            @include basic-border(all, $calendar-border);
            color: $calendar-day-color-active;
            text-decoration: none;
            background: $palette-x-light;
        }
    }
    .fc .fc-toolbar {
        >*>* {
            float: none;
        }
    }
    .fc-header-toolbar {
        padding-top: $default-padding;
        padding-bottom: $default-padding;
        .fc-right {
            position: absolute;
            top: 0;
            right: 0;
            transform: translateY(-100%);
            .fc-button-group {
                font-size: $font-size-x-small;
                float: right;
                .fc-button {
                    background-color: $calendar-btn-bg;
                    box-shadow: none;
                    background-image: none;
                    border: 1px solid $calendar-btn-border;
                    border-radius: 0;
                    &:first-child {
                        border-radius: 3px 0 0 3px !important;
                    }
                    &:last-child {
                        border-radius: 0 3px 3px 0 !important;
                    }
                    &.fc-state-active {
                        background-color: $calendar-btn-bg-active;
                    }
                }
                >* {
                    float: none;
                }
            }
        }
        .fc-prev-button,
        .fc-next-button {
            position: absolute;
            background: none;
            border-color: transparent;
            box-shadow: none;
            &:hover {
                background-color: transparent !important;
                font-weight: 700;
            }
        }
        .fc-prev-button {
            left: 33%;
        }
        .fc-next-button {
            right: 34%;
        }
    }
    .fc-widget-header {
        border: none;
        padding-bottom: 3px;
        color: $calendar-header-color;
        >table {
            border: none;
        }
        .fc-day-header {
            border: none;
        }
    }
    .fc-basic-view {
        >table {
            border: none;
        }
    }
    .fc-widget-content {
        .fc-bg {
            >table {
                border-bottom-width: 0;
                border-left-width: 0;
                border-right-width: 0;
            }
        }
    }
}

.calendar-tooltip {
    @import "base/richtext/*";
}

//For wireframe
@media (max-width: 650px) {
    .event-calendar {
        .fc-header-toolbar {
            .fc-prev-button {
                left: 13%;
            }
            .fc-next-button {
                right: 14%;
            }
        }
    }
}

@media (max-width: 300px) {
    .event-calendar {
        .fc-header-toolbar {
            .fc-prev-button {
                left: 0;
            }
            .fc-next-button {
                right: 0;
            }
        }
    }
}