//
$font-small: 11px;
$font-normal: 13px;
$font-medium: 16px;
$font-big: 20px;
$font-extrabig: 24px;
//
$font-size-xxx-large: 48px; //4em
$font-size-xx-large: 36px; //3em
$font-size-x-large: 30px; //2.2em
$font-size-large: 24px; // 2em
$font-size-normal: 18px; // 1.5em
$font-size-small: 14px; // 1.33em
$font-size-x-small: 12px; // (base) 1.0rem

//
$header-small: $font-size-x-small; // 1.0rem 
$header-medium: $font-size-normal; // 1.5em 
$header-large:$font-size-xxx-large;

//Accordion
$accordion-header: 16px;
//Archive 
$archive-fs-lvl1-header: $font-size-x-small; 
//Breadcrumb
$breadcrumb-fs-lvl1-title:$font-size-x-small;
// Link List
$link-list-title-font: 15px;
//Navigation
$navigation-font-basic: 18px;
$navigation-font-basic-submenu: 14px;
//Tabs
$tab-font-header: 12px;
//File list
$file-list-fs-item: $font-size-x-small;